<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<div>
			<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><span class="font-weight-bold">Bookers</span>  !!</h1>

			<p>
				In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><span class="font-weight-bold">Bookers,</span><br>
				you can share and exchange your opinions, inpressions, and emotions<br>
				about various books!
			</p>
		</div>
	</div>
</div>