<div class="row">
	<% if @book.errors.any? %>
		<div class="alert">
			<h2><%= pluralize(@book.errors.count, "error")%> prohibited this obj from being saved:</h2>

			<ul>
				<% @book.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>

<%= render 'layouts/form', user: @user, book: @book %>

<%= render 'layouts/table', books: @books %>